<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
</style>

p {
	color: #000000;
		font-family: "Josefin Slab", serif;
		text-align: left;
    font-size: 0.7em;
    margin-left: 30%;
    margin-right: 10%;
}

h1 {
  color:white;
    font-family: "Unica One", sans-serif;
		text-align: left;
		font-size:2em;
    margin-left: 10%;
}

#container1{
    width: 100%;
    margin: auto;
}

#content{
  float:right;
  width:60%;
}

#head{
  float:left;
  width:40%;
}

#container2{
  width: 100%;
  margin: 10%;
}

#container3{
  background-color:#ffb450;
  width: 90%;
  margin: 0 auto;

}

#nav {
    padding: 0px;
	  list-style-type: none;
    margin: none;
}

#nav a:link, #nav a:visited {
	color: #ffffff;
	background-color:#f68e56;
	font-weight:bold;
	display: block;
	text-decoration: none;
	text-align: right;
	font-family: "Allerta Stencil", sans-serif;
	padding: 5px;
}

#nav a:hover, #nav a:active {
	background-color:#f8bb9b;
	font-size: none;
}

.caption {
	color:black;
	font-family: "Allerta Stencil", sans-serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top:0;
	text-align: left;
}


img {
	border: none;
}

.bt {
  width: 1260px;
  height: 50px;
  border: 1px;
	solid:#f8bb9b;
  background-color: #f8bb9b;
}

.ct {
  display: none;
  width: 1260px;

}

.dt {
  height: auto;
  margin-top: 0px;
  border: 1px solid:#f8bb9b;
  background-color: #f8bb9b;
  padding: auto 10px;
}

.dt1 {
  height: auto;
  margin-top: 0px;
  border: 1px solid:#f8bb9b;
  background-color:#f8bb9b;
  padding: auto 10px;
}

.dt:hover, .dt1{background-color: #f8bb9b}
.bt:hover{background-color:#f8bb9b;}
.at:hover .ct{display: inline-block;}

.responsive {
    width: 100%;
    height: auto;
}
