/*styles go here*/

p {
	color: #000000;
<<<<<<< HEAD
		font-family: "Times New Roman", serif;
		text-align: left;
    font-size: 1em;
    margin-left: 20%;
    margin-right: 20%;
=======
		font-family: 'Raleway', sans-serif;
		text-align: right;
    font-size: 10px;
    margin-right: 10px;
		padding-left: 40px;
>>>>>>> 70e675f14f32bf6d12a1fc359aa66675d0eac190
}

h1 {
  color:#ffb450;
	  font-family: 'Unica One', cursive;
		text-align: left;
		font-size:70px;
    margin-left: 15%;
}

#container1{
    width: 80%;
		overflow: auto;
		margin-left:10%;
}

#content{
  float:right;
  width:70%;
}

#head{
  float:left;
  width:30%;
	display: block;
}

/*
#photo{
	float:left;
	width:70%;
}


#link{
	float:right;
	width:30%;
}

*/

#container2{
  width: 100%;
  margin: 10%;
}

#container3{
  background-color:#ffb450;
  width: 80%;
  margin: 0 auto;

}

#photo{
	width: 45%;
	height:40%;
}

#nav {
    padding: 0;
	  list-style-type: none;
    margin: none;
}

#nav a:link, #nav a:visited {
	color: #ffffff;
	background-color:#ffd399;
	font-weight:bold;
	display: block;
	text-decoration: none;
	text-align: right;
	font-family: 'Unica One', cursive;
	padding: 2px;
	font-size: 30px;
}

#nav a:hover, #nav a:active {
	background-color:#f8bb9b;
	font-size: 25px;
}

img {
	border: none;
	margin-left:10%;
	width: 85%
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #ffb450; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: black; /* White text color */
    font-size: 36px; /* Increased font size */
    border-radius: 50%;
}

.icon-bar a:hover {
    background-color: #ffffff; /* Add a hover color */
}
