/*styles go here*/
.map{
	display:none;
}

.globe{
	display:none;
}

img {
<<<<<<< HEAD
margin:auto;
margin-right: 10px;
=======
  width: auto;
  max-width: 100%;
  height: auto;
	margin-left:10%;
>>>>>>> 6c6cdf2ece6c96b2d1ba733bbf4e5f3d275c6e42
}

body {
	font-size: 1.3em;
	font-family: 'Merriweather Sans', sans-serif;
}

p {
	color: #000000;
		font-family: "Times New Roman", serif;
		text-align: left;
    font-size: 1em;
		font-family: 'Raleway', sans-serif;
		text-align: left;
    font-size: 16px;
    margin-right: 10px;
		padding-left: 40px;
}

#photo{
	width: 75%;
	display:flex;
	flex-flow: row;
}

#link{
	display:flex;
}

nav {
	font-weight: bold;
	font-family: 'Merriweather Sans', sans-serif;
}

nav ul {
  display: none;
  flex-flow: column;
}

@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }


}

nav ul li {
    display: flex;
    border-top: 1px #79896d solid;
}

nav a {
    color: #f8ecc2;
    display: flex;
    text-decoration: none;
    padding: 10px 30px;

}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

nav ul {
    display:flex;
}

.globe {
	display: block;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

		.map {
	      display: block;
	      width: 100%;
	      margin-top: 0.5em;
	    }

			.globe {
				display: none;
			}
}


h1 {
  color:#ffb450;
	  font-family: 'Unica One', cursive;
		text-align: left;
		font-size:70px;
    margin-left: 15%;
}

h2 {
	color:#ffb450;
		font-family: 'Unica One', cursive;
		text-align: left;
		font-size:20px;
		margin-left: 25%;
		margin-right:10%;
}

h3 {
	color:gray;
		font-family: 'Merriweather Sans', sans-serif;
		text-align: left;
		font-size:20px;
		margin-left: 25%;
		margin-right:10%;
}

#container1{
    width: 100%;
		overflow: auto;
}

#content{
  float:right;
  width:70%;
	margin-right: 5%;
}

#head{
  float:left;
  width:30%;
	display: block;
}

/*
#photo{
	float:left;
	width:70%;
}


#link{
	float:right;
	width:30%;
}

*/

#container2{
  width: 100%;
}

#container3{
  background-color:#ffb450;
  width: 100%;
  margin: 0 auto;

}


#nav {
    padding: 0;
	  list-style-type: none;
    margin: none;
}
/*
#nav a:link, #nav a:visited {
	color: #ffffff;
	background-color:#ffd399;
	font-weight:bold;
	display: block;
	text-decoration: none;
	text-align: right;
	font-family: 'Unica One', cursive;
	padding: 2px;
	font-size: 30px;
}

#nav a:hover, #nav a:active {
	background-color:#ffb450;
	font-size: 25px;
}
*/

div img {
	border: none;
	width: 55%
}

div link {
display:flex;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #ffb450; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: black; /* White text color */
    font-size: 36px; /* Increased font size */
    border-radius: 50%;
}

.icon-bar a:hover {
    background-color: #ffd399; /* Add a hover color */
}
